doctype html
html
  head(lang="en")
    title Stock Ticker!!!
    script(type="text/javascript", src="/javascripts/jquery-1.7.1.js")
    script(type="text/javascript", src="/javascripts/jquery.li-scroller.1.0.js")
    link(rel="stylesheet",type="text/css",href="/stylesheets/li-scroller.css")
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src="/javascripts/client_logic.js")
    body
      ul#webTicker
      h4 Last updated:#{" "}
        span#lastUpdated
      p Node.js Stock Ticker
      p
        a(href="http://github.com/NaleagDeco/cloudspokes_stockticker") See the source code
      p Created by Gaelan D'costa (gdcosta AT gmail DOT com)
      p Created for the Cloudspokes Node.js stockticker#{" "}
        a(href="http://www.cloudspokes.com/challenges/1354") challenge





