doctype html
html
  head(lang="en")
    title Stock Ticker!!!
    script(type="text/javascript", src="/javascripts/jquery-1.7.1.js")
    script(type="text/javascript", src="/javascripts/jquery.li-scroller.1.0.js")
    link(rel="stylesheet",type="text/css",href="/stylesheets/li-scroller.css")
    script(type='text/javascript', src="/socket.io/socket.io.js")
    script(type='text/javascript', src="/javascripts/client_logic.js")
    body
      ul#webTicker
      h4 Last updated:#{" "}
        span#lastUpdated
